<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Canteen Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <style>
        /* default css start */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }


        .header-area {
            background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
            background-position: center center;
            background-size: cover;
        }
        /* default css end */


        /* navbar regular css start */
        .navbar-area {
            background: rgba(0,0,0,.6);
            border-bottom: 1px solid #000;
        }

        .site-navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a.site-logo {
            font-size: 26px;
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
        }

        .site-navbar ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
        }

            .site-navbar ul li a {
                color: #fff;
                padding: 20px;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
            }

                .site-navbar ul li a:hover {
                    background: rgba(255,255,255,.1);
                }
        /* navbar regular css end */


        /* nav-toggler css start */
        .nav-toggler {
            border: 3px solid #fff;
            padding: 5px;
            background-color: transparent;
            cursor: pointer;
            height: 39px;
            display: none;
        }

            .nav-toggler span,
            .nav-toggler span:before,
            .nav-toggler span:after {
                width: 28px;
                height: 3px;
                background-color: #fff;
                display: block;
                transition: .3s;
            }

                .nav-toggler span:before {
                    content: '';
                    transform: translateY(-9px);
                }

                .nav-toggler span:after {
                    content: '';
                    transform: translateY(6px);
                }

            .nav-toggler.toggler-open span {
                background-color: transparent;
            }

                .nav-toggler.toggler-open span:before {
                    transform: translateY(0px) rotate(45deg);
                }

                .nav-toggler.toggler-open span:after {
                    transform: translateY(-3px) rotate(-45deg);
                }
        /* nav-toggler css start */


        /* intro-area css start */
        .intro-area {
            height: fit-content;
            display: flex;
            align-items: center;
            text-align: center;
            color: #fff;
        }

            .intro-area h2 {
                font-size: 50px;
                font-weight: 300;
                line-height: 50px;
                margin-bottom: 25px;
            }

            .intro-area p {
                font-size: 18px;
            }
        /* intro-area css end */
        /* mobile breakpoint end */

    </style>
    <script>
        // define all UI variable
        const navToggler = document.querySelector('.nav-toggler');
        const navMenu = document.querySelector('.site-navbar ul');
        const navLinks = document.querySelectorAll('.site-navbar a');

        // load all event listners
        allEventListners();

        // functions of all event listners
        function allEventListners() {
            // toggler icon click event
            navToggler.addEventListener('click', togglerClick);
            // nav links click event
            navLinks.forEach(elem => elem.addEventListener('click', navLinkClick));
        }

        // togglerClick function
        function togglerClick() {
            navToggler.classList.toggle('toggler-open');
            navMenu.classList.toggle('open');
        }

        // navLinkClick function
        function navLinkClick() {
            if (navMenu.classList.contains('open')) {
                navToggler.click();
            }
        }
    </script>
</head>
<body>
    <header class="header-area">
        <!-- site-navbar start -->
        <div class="navbar-area">
            <div class="container">
                <nav class="site-navbar" style="font-size: 12px;">
                    <!-- site logo -->
                    @if (Request.IsAuthenticated)
                    {@*@Html.ActionLink("Canteen Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                                    <a href="/Home/Index" class="site-logo"><img src="~/Images/Products/swaggy1.png" style="width:180px;height:80px" /></a> }
                                else
                                { @*@Html.ActionLink("Canteen Management", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })*@
                                                <a href="/Account/Login" class="site-logo"><img src="~/Images/Products/swaggy1.png" style="width:180px;height:80px" /></a>}

                    <!-- site menu/nav -->
                    <ul>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@*@Html.ActionLink("Cuisines", "Suppliers", "Home")*@</li>
                            <li>@Html.ActionLink("Orders", "Orders", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>
        </div><!-- navbar-area end -->

        <div class="intro-area">
            <div class="container">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Canteen Store</p>
                </footer>
            </div>

        </div>
    </header>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
