@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
@Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Admin Panel", "Index", "Product", new { area = "Admin" }, new AjaxOptions { HttpMethod = "POST" })</li>

    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
    @if (ViewBag.Cart != null && Request.IsAuthenticated)
    {
<li>
    <a class="basket" style="border:1px solid">

        <span>Cart: </span> @ViewBag.CartUnits
        <table style="width:200px">

            @foreach (var c in ViewBag.Cart)
            {
<tr><td>@c.Quantity x @c.UnitPrice</td><td>@c.PName</td></tr>
}

            <tr>
                <td>Total: @String.Format(System.Globalization.CultureInfo.GetCultureInfo("en-GB"), "{0:C}", ViewBag.CartTotalPrice)</td>
                <td>@Html.ActionLink("Check Out", "Index", "Checkout")</td>
            </tr>

        </table>
    </a>
</li>}
</ul> }
            }
            else
            {
<ul class="nav navbar-nav navbar-right">

    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
</ul>}
